body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

  --main-color: #F9B630;
  --dark-color: #604D42;
}

button {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  font-size: 50px;
  padding: 10px 20px;
  color: var(--main-color);
  background-color: #F9B63000;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-color);
  color: white;
}

p {
  max-width: 60em;
}

#scan-btn {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

#description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
  padding: 5vmin 2.5vmin;
}

#description div {
  padding: 0 2.5vmin;
}

#header, #footer a, #footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header {
  margin: 2.5vh 0;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7.5vh;
  margin-bottom: 10vh;
  color: lightgray;
}

#logo {
  max-height: 15vh;
}

#footer-logo {
  filter: grayscale(1);
  height: 1em;
  margin-right: 0.5em;
}

#footer a {
  margin: 0 1em;
  color: lightgray;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

#footer a:hover {
  opacity: 0.5;
}

#visualizer {
  position: relative;
  border: 1px solid #e0e0e000;
  border-radius: 5px;
  padding-top: 2.5vmin;
  margin: 0 5vw;
  min-height: 15vh;
  transition: border 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}

#visualizer.active {
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  padding: 5vmin 5vmin;
}

.hr {
  background-color: lightgray;
  width: 80vw;
  height: 1px;
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  #description {
    flex-direction: column;
  }

  button {
    font-size: 35px;
    /* padding: 10px 20px; */
  }
}