body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

  --main-color: #F9B630;
  --dark-color: #604D42;
}

.scan-btn {
  font-family: 'Quicksand', sans-serif;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  font-size: 50px;
  padding: 5px 20px;
  color: var(--main-color);
  background-color: #F9B63000;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.scan-btn:hover {
  background-color: var(--main-color);
  color: white;
}

#camera-inp {
  opacity: 0; 
  cursor: pointer;
  position: absolute;
}

p {
  max-width: 60em;
}

.hr {
  background-color: lightgray;
  width: 80vw;
  height: 1px;
  margin-bottom: 2em;
}

#description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5vw;
  padding: 5vmin 2.5vmin;
}

#description div {
  padding: 0 2.5vmin;
}

#header, #footer a, #footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header {
  margin: 2.5vh 0;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7.5vh;
  margin-bottom: 10vh;
  color: lightgray;
}

#logo {
  max-height: 15vh;
}

#footer-logo {
  filter: grayscale(1);
  height: 1em;
  margin-right: 0.5em;
}

#footer a {
  margin: 0 1em;
  color: lightgray;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

#footer a:hover {
  opacity: 0.5;
}

#visualizer {
  position: relative;
  border: 1px solid #e0e0e000;
  border-radius: 5px;
  padding-top: 2.5vmin;
  margin: 0 5vw;
  min-height: 15vh;
  transition: border 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}

#visualizer.active {
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  padding: 5vmin 5vmin;
}

/* FOOD ITEM STYLES */
.food-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  --color: var(--dark-color);
  --icon: url(assets/default.png);
}

.food-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color);
  margin: 0 1em 0 0;
  min-width: 8em;
}

.food-name::before {
  content: "";
  display: inline-block;
  background-size: 1em 1em;
  height: 1em;
  width: 1em;
  background-image: var(--icon);
}

.food-duration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.food-duration {
  position: relative;
  height: 2em;
  border-radius: 2em;
  width: min(calc(var(--length) * 20%), 100%);
  background-color: var(--color);
}

.food-duration::after {
  color: white;
  content: var(--days);
  position: absolute;
  right: 1em;
}

.vegetable {
  --color: #008000;
  --icon: url(assets/vegetable.png);
}
.meat {
  --color: #D60700;
  --icon: url(assets/meat.png);
}
.grains {
  --color: #E66400;
  --icon: url(assets/grain.png)
}
.dairy {
  --color: #0083C9;
  --icon: url(assets/dairy.png)
}
.fruit {
  --color: #640078;
  --icon: url(assets/fruit.png)
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  #description {
    flex-direction: column;
  }

  .scan-btn {
    font-size: 35px;
  }

  .food-name {
    font-size: 14px;
  }

  .food-duration::after {
    font-size: 10px;
  }
}