body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

#header, #footer a, #footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header {
  margin: 2.5vh 0;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7.5vh;
  color: lightgray;
}

#logo {
  max-height: 15vh;
}

#footer-logo {
  filter: grayscale(1);
  height: 1em;
  margin-right: 0.5em;
}

#footer a {
  margin: 0 1em;
  color: lightgray;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

#footer a:hover {
  opacity: 0.5;
}

.container {
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 0 5vw;
  /* TEMP BELOW, REMOVE */
  min-height: 60vh;
}

.hr {
  background-color: lightgray;
  width: 80vw;
  height: 1px;
  margin-bottom: 2em;
}